.sliderContainer {
  overflow-x: scroll;
  white-space: nowrap;
  height: 50px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none blue;
}

.slider {
  display: flex;
}

.sliderContainer::-webkit-scrollbar {
  display: none;
}

.slider button {
  padding: 8px 16px;
  margin-right: 8px;
}
