@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: #f9f6f5;
   --background-start-rgb: #f9f6f5;
   --background-end-rgb: #f9f6f5;
}

body {
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
